@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body, html, #root, .App {
  height: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
}

.App {
  display: grid;
  grid-template-rows: 75px 1fr;
  font-family: 'Supermercado One', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.App header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App header a {
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}

.App header a:hover {
  background-color: rgb(250, 88, 63);
}

.active-link {
  background-color: rgb(250, 88, 63);

}

.App main {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: #605c4eb1;
  padding: 50px;
}

.auth, .list, .create {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form { 
  text-align: right;
  margin: 100px;
}

form label {
  display: block;
}

form button {
  margin: 5px;
}

form label input, form label textarea, form label select  {
  margin: 5px;
}

select {
  width: 177px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(189, 201, 213);
}

.logo {
  height: 300px;
}